body {
    margin: 0;
}
/* -- 円グラフ -- */
div {
    position: relative;
    width: 100%;
    height: 35%;
}
button {
    position: relative;
    left: 67%;

    border: solid;
    border-color: #000000;
    background-color: #000000;

    color: #FFFFFF;
}
/* -- #ShiftBar --*/
ul#ShiftBar {
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 15%;
    margin: 0;
    padding: 0;

    list-style: none;
}
ul#ShiftBar > li {
    float: left;

    width: 25%;
}
ul#ShiftBar > li > a > img {
    width: 100%;
}
/* --ShiftBarの下を埋める-- */
p.fillgap {
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 2%;
    margin: 0;
    padding: 0;
    background-color: #000000;

    color: #000000;
}