body {
    margin: 0;
}
/* -- #addAcount -- */
a > button#addAcount {
    position: relative;
    top: 7px;
    left: 325px;

    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-color: #000000;
    background-color: #000000;

    font-size: 15px;
    color: #FFFFFF;
}
/* -- #homeList 最初の所（アカウントの名称/残金・ｖボタン・削除ボタン） -- */
ul.acount > li.acountPlate> input {
    float: left;
    clear: left;

    width: 50px; 
    height: 50px;
    margin: 8px 0 0 0;
    padding: 0;
}
button.openeit {
    float: left;

    width: 200px;
    height: 50px;
    margin: 10px 0 0 0;
    padding: 0;
    border-style: solid;
    border-right: none;
    border-color: #000000;
    background-color: #000000;

    color: #FFFFFF;
}
button.active {
    float: left;

    width: 25px;
    height: 50px;
    margin: 10px 0 0 0;
    border-style: solid;
    border-left: none;
    border-color: #000000;
    background-color: #000000;

    color: #FFFFFF;
}
button.inactive {
    float: left;

    width: 25px;
    height: 50px;
    margin: 10px 0 0 0;
    border-style: solid;
    border-left: none;
    border-color: #000000;
    background-color: #000000;

    color: #FFFFFF;
}
button.remove {
    float: left;

    width: 20px;
    height: 50px;
    margin: 10px 0 0 0;
    border-style: solid;
    border-left: none;
    border-color: #000000;
    background-color: #000000;

    color: #FFFFFF;
}
/* -- #homeListの入力欄すべてに関して -- */
ul.input {
    list-style: none;
}
/* -- #homeListの支出入力欄 -- */
li.expexp {
    clear: left;
    position: relative;
    top: 10px;
    left: 30px;

    width: 200px;
}
li.expexp > button {
    margin: 0;
    border-style: solid;
    border-color: #000000;
    background-color: #000000;

    color: #FFFFFF;
}
li.expexp > ul {
    padding: 0;
}
li.expexp > ul > input,select,button {
    width: 120px;
    height: 22px;

    border-style: solid;
    border-color: #FFFFFF;
}
li.expexp > ul > input.expmemo,button {
    position: relative;
    bottom: 2px;

    border-style: solid;
    border-color: #FFFFFF;
}
li.expexp > ul > label > input {
    position: relative;
    bottom: 2px;

    width: 100px;
    height: 22px;
    border-style: solid;
    border-color: #FFFFFF;
}
/* -- #homeListの収入入力欄 -- */
li.incinc {
    position: relative;
    top: 10px;
    left: 30px;

    width: 200px;
}
li.incinc > button {
    margin: 0;
    border-style: solid;
    border-color: #000000;
    background-color: #000000;

    color: #FFFFFF;
}
li.incinc > ul {
    padding: 0;
}
li.incinc > ul > input,select,button {
    width: 120px;
    height: 22px;
    border-style: solid;
    border-color: #FFFFFF;
}
li.incinc > ul > input.incmemo,button {
    position: relative;
    bottom: 2px;

    border-style: solid;
    border-color: #FFFFFF;
}
li.incinc > ul > label > input {
    position: relative;
    bottom: 2px;

    width: 100px;
    height: 22px;
    border-style: solid;
    border-color: #FFFFFF;
}
/* -- #homeListの振替入力欄 -- */
li.trstrs {
    position: relative;
    top: 10px;
    left: 30px;

    width: 200px;
}
li.trstrs > button {
    margin: 0;
    border-style: solid;
    border-color: #000000;
    background-color: #000000;

    color: #FFFFFF;
}
li.trstrs > ul {
    padding: 0;
}
li.trstrs > ul > input,select,button {
    width: 120px;
    height: 22px;
    border-style: solid;
    border-color: #FFFFFF;
}
li.trstrs > ul > input.trsmemo,button {
    position: relative;
    bottom: 4px;

    border-style: solid;
    border-color: #FFFFFF;
}
li.trstrs > ul > label > input {
    position: relative;
    bottom: 2px;

    width: 100px;
    height: 22px;
    border-style: solid;
    border-color: #FFFFFF;
}
li.trstrs > ul > label > input.trsfee {
    position: relative;
    bottom: 4px;

    border-style: solid;
    border-color: #FFFFFF;
}
/* -- #homeListの貸した入力欄 -- */
li.lndlnd {
    position: relative;
    top: 10px;
    left: 30px;

    width: 200px;
}
li.lndlnd > button {
    margin: 0;
    border-style: solid;
    border-color: #000000;
    background-color: #000000;

    color: #FFFFFF;
}
li.lndlnd > ul {
    padding: 0;
}
li.lndlnd > ul > input,button {
    width: 120px;
    height: 22px;
    border-style: solid;
    border-color: #FFFFFF;
}
li.lndlnd > ul > input.lndmemo,button {
    position: relative;
    bottom: 2px;

    border-style: solid;
    border-color: #FFFFFF;
}
li.lndlnd > ul > label > input {
    position: relative;
    bottom: 2px;

    width: 100px;
    height: 22px;
    border-style: solid;
    border-color: #FFFFFF;
}
/* -- #homeListの借りた入力欄 -- */
li.brwbrw {
    position: relative;
    top: 10px;
    left: 30px;

    width: 200px;
}
li.brwbrw > button {
    margin: 0;
    border-style: solid;
    border-color: #000000;
    background-color: #000000;

    color: #FFFFFF;
}
li.brwbrw > ul {
    padding: 0;
}
li.brwbrw > ul > input,button {
    width: 120px;
    height: 22px;
    border-style: solid;
    border-color: #FFFFFF;
}
li.brwbrw > ul > input.brwmemo,button {
    position: relative;
    bottom: 2px;

    border-style: solid;
    border-color: #FFFFFF;
}
li.brwbrw > ul > label > input {
    position: relative;
    bottom: 2px;

    width: 100px;
    height: 22px;
    border-style: solid;
    border-color: #FFFFFF;
}
/* -- #lbList -- */
ul#lbList {
    clear: left;
    position: relative;
    top: 3%;

    padding: 0;
    list-style: none;
}
li.lb {
    position: relative;
    width: 75%;
    height: 12%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color:#000000;

    color: #FFFFFF;
}
li.lb > p.lbtype,p.lbdate {
    float: left;
    clear: left;

    margin: 0;
}
li.lb > p.lbamount {
    clear: left;

    margin: 0;
}
li.lb > p.lbmemo {
    clear: left;

    margin: 0;
}
li.lb > button.lbrem {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 10%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-style: none;
    border-width: thin;
    background-color:  #777777;  
}
/* -- #eitList -- */
ul#eitList {
    list-style: none;

    margin: 0;
    padding: 0;
}
li.eit {
    position: relative;

    width: 80%;
    height: 17%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 5px;
    background-color:#000000;

    color: #FFFFFF;
}
li.eit > p.eitdate {
    float: left;
    clear: left;

    margin: 0;
}
li.eit > p.eittype1 {
    float: left;
    clear: left;

    margin: 0;
}
li.eit > p.eittype2 {
    float: left;

    margin: 0;
}
li.eit > p.eitamount {
    clear: left;

    margin: 0;
}
li.eit > p.eitmemo {
    float: left;

    margin: 0;
}
li.eit > button {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 10%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-style: none;
    background-color:  #777777; 
}
/* -- #ShiftBar --*/
ul#ShiftBar {
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 15%;
    margin: 0;
    padding: 0;

    list-style: none;
}
ul#ShiftBar > li {
    float: left;

    width: 25%;
}
ul#ShiftBar > li > a > img {
    width: 100%;
}
/* --ShiftBarの裏を埋める-- */
p.space {

    width: 90%;
    height: 15%;
    margin-left: auto;
    margin-right: auto;
    background-color:#FFFFFF;

    color: #FFFFFF;
}
/* --ShiftBarの下を埋める-- */
p.fillgap {
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 2%;
    margin: 0;
    padding: 0;
    background-color: #000000;

    color: #000000;
}
