body {
    position: relative;
    margin: 0;
    background-size: cover;
    background-image: url(../img1/海.svg);

}
ul#shiftBar {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
ul#shiftBar > li {
    width: 25%;
    list-style: none;
}
ul#shiftBar > li > a > img {
    width: 100%;
    max-width: 110px;
}
ul#shiftBar > li > a {
    display: block;
}
#changeDesign {
            width: 100px;
            height: 100px;
    
            position: absolute;
            top: 30%;
            left: 50%;
    
            margin-top: -50px;
            margin-left: -50px;
    
        border-radius:  50%;    
        background   : linear-gradient(to bottom,  #00FFBC, #FF00CF);
        
}
.rotationAnime {
    animation: rotation 0.5s linear infinite; 
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#camereon {
    display: none;
}
#yadokari {
    width: 380px;
    height: 400px;

    position: fixed;
    top: 35%;

}
#fadeLayer {
    position:absolute;
    top:0px;
    left:0px;
  
    width:100%;
    height:100%;
  
    background-color:#FFFFFF;
    opacity: 0;
    z-index:1;
    pointer-events: none;
}
.fadeAnime {
    animation: fade 2s linear;
}
  @keyframes fade {
      from {
          opacity: 0;
      }
      10% {
          opacity: 0.1;
      }
      20% {
          opacity: 0.2;
      }
      30% {
          opacity: 0.3;
      }
      40% {
          opacity: 0.4;
      }
      50% {
          opacity: 0.5;
      }
      60% {
          opacity: 0.6;
      }
      70% {
          opacity: 0.7;
      }
      80% {
          opacity: 0.8;
      }
      90% {
          opacity: 0.9;
      }
      to {
          opacity: 1.0;
      }

  }